<h2> who hasth summoned me?</h2>


<div id="login">

    <form action="/login" method="POST">

        <div>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        {{#if message}}
        <div class="error-message">{{ message }}</div>
        {{/if}}
        <div>
            <input type="submit" value="Log In">
            <button type="button" onclick="location.href='/signup';"> new user </button>
        </div>
        <br>
        <br>
        <a href="/auth/facebook">
            <img id="fb" src="/images/fbbutton.png">

            <br>
            <br>
            <a href="/auth/google">
                <img id="googlebtn" src="/images/btn_google_signin_light_normal_web@2x.png">


                </img>
            </a>




    </form>

</div>