<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <center>
        <h1>Why have you summoned me, Mortal? </h1>

        <img id="genie-render" src="./images/geniworkinge2.jpg"> </img>
        <br>
        <br>
        <br>
        <button class="btn" id="winner" onclick="location.href='/numberGen';"> Give me the winning numbers </button>
        <button class="btn" id="mynumbers" onclick="location.href='/yourNumbers'" ;> Let me see the numbers I have played</button>
        <button class="btn" id="winningNumbers" onclick="location.href='/winningNumbers'" ;> Let me see that numbers that have won </button>
        <button class="btn" id="takeapic" onclick="location.href='/takepic';"> Take a picture of my ticket </button>
        <button class="btn" id='profile' onclick="location.href='/userInfo';"> Let me see my profile </button>
        <script src='/javascripts/script.js'></script>

    </center>
</body>