<script> firstposition;</script>
<button onclick="location.href='/dashBoard';"> Take me back </button>
{{!-- Total game area container --}}

<div class="ui segment" id="FL-Lotto-Total-Container">
    <div class="ui segment" id="howToPlay">
        <p>
            <h3>How to play</h3>
            <ol>
                <li>- Select six numbers from 1 through 53</li>
                <li>- For a chance to win cash instantly, select the EZmatch box in a panel for a $1 more per play.</li>
                <li>- To multiply your winnings on non-jackpot cash prizes, select the XTRA box. XTRA costs $1 more</li>
            </ol>
        </p>
    </div>

    <div class="ui segment" id="FL-Master-Container">

        <button onclick="randomGenFloridaLottery()"> Give me a number genie!</button><button onclick="saveNumberFL()">
            I will play this number, save it</button>
        <center>
            <div class="ui segment" id='FL-Lotto-Number-Gen-Container'>


                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-1"> 0 </h1>


                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-2"> 0 </h1>


                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-3"> 0 </h1>



                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-4"> 0 </h1>



                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-5"> 0 </h1>



                <h1 class="FL-Lotto-Number-Card" id="FL-Lotto-6"> 0 </h1>



            </div>
            <div class="ui segement" id="FL-Lotto-Saved-Numbers">
                <h3> Saved Numbers</h3>
                <p id="savedFLNumbers"> Saved Numbers</p>
                <p id="savedFLNumbers2"> </p>
                <p id="savedFLNumbers3"> </p>
                <p id="savedFLNumbers4"> </p>
            </div>
        </center>
    </div>




    <div class="ui segment" id="FL-Lotto-Odds">
        <h3> Odds</h3>
        <ol>
            <li>Match all 6 - <b>1:22,957,480</b> Jackpot</li>
            <li>Match 5 - <b>1:81,409.50</b> (est Prize: $5000) </li>
            <li>Match 4 - <b>1:1,415.82</b> (est prize: $70)</li>
            <li>Match 3 - <b>1:70.79</b> (est prize: $5)</li>
        </ol>
    </div>


    <div class="ui segment" id="FL-Lotto-Extra">
        <h3> Genie Advice</h3>
        Play XTRA. EXTRA is a special feature that allows players to multiply their non-jackpot cash prizes by two,
        three, four or
        five
        times the original prize amount! A player must choose the XTRA option on his/her FLORIDA LOTTO playslip or tell
        the
        retailer that he/she wishes to purchase a FLORIDA LOTTO with XTRA ticket. FLORIDA LOTTO with XTRA tickets cost
        an
        additional $1 per play.

        FLORIDA LOTTO with XTRA players who match three of six winning numbers will win a minimum of $25, the 3-of-6
        prize
        multiplied by five, regardless of the multiplier selected for that drawing.
    </div>



</div>



<script>

    let floridaLotterySaved = [];
    let newSavedList = [];


    const randomGenFloridaLottery = function () {
        let print1 = document.getElementById('FL-Lotto-1');
        let print2 = document.getElementById('FL-Lotto-2');
        let print3 = document.getElementById('FL-Lotto-3');
        let print4 = document.getElementById('FL-Lotto-4');
        let print5 = document.getElementById('FL-Lotto-5');
        let print6 = document.getElementById('FL-Lotto-6');

        let num1 = Math.floor(Math.random() * 53);
        let num2 = Math.floor(Math.random() * 53);
        let num3 = Math.floor(Math.random() * 53);
        let num4 = Math.floor(Math.random() * 53);
        let num5 = Math.floor(Math.random() * 53);
        let num6 = Math.floor(Math.random() * 53);
        print1.innerHTML = num1;
        print2.innerHTML = num2;
        print3.innerHTML = num3;
        print4.innerHTML = num4;
        print5.innerHTML = num5;
        print6.innerHTML = num6;

        set1 = num1;
        set2 = num2;
        set3 = num3;
        set4 = num4;
        set5 = num5;
        set6 = num6;


        console.log(num1, num2, num3, num4, num5, num6);



        document.getElementById('FL-Lotto-1').innerHTML = num1;

        document.getElementById('FL-Lotto-2').innerHTML = num2;
        document.getElementById('FL-Lotto-3').innerHTML = num3;
        document.getElementById('FL-Lotto-4').innerHTML = num4;
        document.getElementById('FL-Lotto-5').innerHTML = num5;
        document.getElementById('FL-Lotto-6').innerHTML = num6;



    }
    const saveNumberFL = function () {
        newSavedList.push(set1, set2, set3, set4, set5, set6);
        console.log(set1, set2, set3, set4, set5, set6);
        document.getElementById("savedFLNumbers").innerHTML = "[" + newSavedList + "]";
        if (newSavedList.length > 7) {


            document.getElementById("savedFLNumbers3").innerHTML = "[" + newSavedList[6] + "]";;
        };
    }


</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
{{!-- "[" + set1 + " - " + set2 + " - " + set3 + " - " + set4 + " - " + set5 + " - " + set6 + "]"; --}}
{{!-- return floridaLotterySaved.push(set1, set2, set3, set4, set5, set6) --}}