<button onclick="location.href='/dashBoard';"> Take me back </button>

<div id="FL-Lotto-Container">
    <button onclick="randomGenFloridaLottery()"> Give me a number genie!</button>
    <div id="FL-Lotto-numGen">
        <div class='FL-Lotto-Container'>
            <div class='FL-Lotto-box-1'>
                <h1 id="FL-Lotto-1"> 0 </h1>
            </div>

            <div class='FL-Lotto-box-2'>
                <h1 id="FL-Lotto-2"> 0 </h1>
            </div>
        </div>
        <div class='FL-Lotto-box-3'>
            <h1 id="FL-Lotto-3"> 0 </h1>
        </div>
    </div>
    <div class='FL-Lotto-box-4'>
        <h1 id="FL-Lotto-4"> 0 </h1>
    </div>

    <div class='FL-Lotto-box-5'>
        <h1 id="FL-Lotto-5"> 0 </h1>
    </div>

    <div class='FL-Lotto-box-6'>
        <h1 id="FL-Lotto-6"> 0 </h1>
    </div>

</div>



</div>
<div id="how2play">
    <p>
        For just $1, you could win Florida's original jackpot game FLORIDA LOTTO®! Jackpots start at $2 million and
        roll until there is a winner, with drawings held twice a week. This game has produced more than 1,000
        jackpot
        winners and you could be the next. Players can add EZmatch™ for the chance to win instant cash and/or add
        XTRA
        to multiply their non-jackpot cash winnings by two, three, four or five times.

        To play, ask the store clerk for a ticket or pick up a FLORIDA LOTTO playslip. Each playslip contains 10
        panels
        (A-J). In each panel played:

        Select six numbers from 1 through 53, or mark the QP (Quick Pick) box in the panel and let the terminal
        randomly pick some or all of your numbers.
        For a chance to win cash instantly, select the EZmatch box in a panel for a $1 more per play. FLORIDA LOTTO
        tickets with EZmatch cannot be canceled.
        To multiply your winnings on non-jackpot cash prizes, select the XTRA box. XTRA costs $1 more per play.
        FLORIDA
        LOTTO with XTRA tickets will display "XTRA YES". Please Note: The XTRA box applies to all panels, Advance
        Plays
        and Quick Picks played on the playslip.
        To play the same numbers for more than one draw, simply tell the retailer how many advance draws you wish
        to
        play or select the number of draws in the Advance Play section of your playslip.
        Mark the JACKPOT COMBO box for a $2 POWERBALL®, a $2 FLORIDA LOTTO® with XTRA and a $2 MEGA MILLIONS® Quick
        Pick ticket for the next available draw date.
        Give your completed playslip and payment to the retailer. You will receive a ticket printed with your
        numbers,
        draw date(s) and the total cost of the ticket. For each panel with EZmatch selected, you will receive a
        separate ticket with your FLORIDA LOTTO and EZmatch numbers. Please check your ticket(s) before you leave
        the
        store. You are responsible for the accuracy of your ticket(s).
        Check the official drawing results to see if you're a winner! Draw results are available on this website,
        at
        authorized Florida Lottery retailers and by calling (850) 921-PLAY (7529). You may also watch the drawings
        online.
        Drawings are held Wednesday and Saturday nights at 11:15 p.m., Eastern Time. Tickets can be purchased until
        10:40 p.m., Eastern Time, on the night of the draw. Tickets purchased after 10:40 p.m. will be for the next
        draw.

        If you claim a prize on a winning Advance Play ticket before all of the draws on the ticket have occurred,
        you
        will be issued a continuation ticket for the remaining draws with the same play numbers as the original
        ticket.</p>

</div>

</div>

<script>






    const randomGenFloridaLottery = function () {
        let print1 = document.getElementById('FL-Lotto-1');
        let print2 = document.getElementById('FL-Lotto-2');
        let print3 = document.getElementById('FL-Lotto-3');
        let print4 = document.getElementById('FL-Lotto-4');
        let print5 = document.getElementById('FL-Lotto-5');
        let print6 = document.getElementById('FL-Lotto-6');

        let num1 = Math.floor(Math.random() * 10);
        let num2 = Math.floor(Math.random() * 10);
        let num3 = Math.floor(Math.random() * 10);
        let num4 = Math.floor(Math.random() * 10);
        let num5 = Math.floor(Math.random() * 10);
        let num6 = Math.floor(Math.random() * 10);
        print1.innerHTML = num1;
        print2.innerHTML = num2;
        print3.innerHTML = num3;
        print4.innerHTML = num4;
        print5.innerHTML = num5;
        print6.innerHTML = num6;
        console.log(num1, num2, num3, num4, num5, num6);



        document.getElementById('FL-Lotto-1').innerHTML = num1;
        document.getElementById('FL-Lotto-2').innerHTML = num2;
        document.getElementById('FL-Lotto-3').innerHTML = num3;
        document.getElementById('FL-Lotto-4').innerHTML = num4;
        document.getElementById('FL-Lotto-5').innerHTML = num5;
        document.getElementById('FL-Lotto-6').innerHTML = num6;

    };


</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>