<center>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>



    <img id='lamp' src='./images/genie-magic-lamp-6-4531.jpg'>

    <p> A Djinni has been bound to your device! It is safely trapped inside the digital realm. Touch the lamp to awaken.</p>

    <br>

    <p>Do not set it free.</p>

</center>
<script>
    let lamp2 = document.getElementById('lamp');

    lamp2.addEventListener('mouseover', (event) => {
        alert("The Genie has been been summoned!")
        location.href = '/signup';
    })</script>