<form action="/LuckyNumbersPage/luckyNumbersAdd" method="post">
    <label for="luckyNumbers">Number: </label>
    <input type="text">
    <br>
    <label for="">Comment:</label>
    <input type="text" name="luckynumber">
    <button action='/luckyNumbersAdd' onclick='Post' method='POST'> Add Number</button>