<form action="/LuckyNumbersPage/luckyNumbersAdd" method="post">
    <label for="luckyNumbers">Number: </label>
    <input type="number" name="luckyNumber">
    <br>
    <label for="">Comment:</label>
    <input type="text" name="comments">
    <input type="submit" value="Add Number"></input>
    {{!-- <button action='/luckyNumbersAdd' onclick="location.href='/luckyNumbersAdd';" method='POST' type="submit">
        Add
        Number</button> --}}