<button onclick="location.href='/dashBoard';"> back</button>

<center>
    <u>
        <h1> MegaMillions Winning Number History </h1>
    </u>

    <br>
    <br> {{#each winning}}
    <br>
    <h5>


        Megaball: {{this.megaBall}} </h5>
    <br>
    <br>
    <br> {{/each}}
</center>{{!-- {{/each}} {{this.drawDate}} are : {{this.winningNumbers}}, Megaball: {{this.megaBall}}</h5> --}}