<button onclick="location.href='/dashBoard';"> back</button>

<center>
    <u>
        <h1> MegaMillions Winning Number History </h1>
    </u>

    {{#each winning}}
    <h5>
        Date: {{this.drawDate}} </h5>
    <h5>Winning number:
        <b>{{this.winningNumber}}
            <h5>Megaball: {{this.megaBall}} </h5>
        </b>
        {{/each}}


        </b>
    </h5>

    <br>
    <br>
    <br>
</center>