<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mega-Millions</title>
</head>
<button onclick="location.href='/dashBoard';"> Back </button>

<body>
    Mega Millions Generator


    <div>
        <div class='megaMil' id='mega1'>
            <div class='innerMegaMil' id='innerMega1'> 1</div>
        </div>
        <div class='megaMil' id='mega2'>
            <div class='innerMegaMil' id='innerMega1'>2 </div>
        </div>
        <div class='megaMil' id='mega3'>
            <div class='innerMegaMil' id='innerMega1'> 3</div>
        </div>
        <div class='megaMil' id='mega4'>
            <div class='innerMegaMil' id='innerMega1'> 4</div>
        </div>
        <div class='megaMil' id='mega5'>
            <div class='innerMegaMil' id='innerMega1'> 5</div>
        </div>
        <div class='megaMil' id='megaBall'>
            <div class='innerMegaMil' id='innerMega1'> 6</div>
        </div>
    </div>
</body>

</html>