<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Generator</title>
</head>

<body>


    <center>
        <H1>Here I shall generate a lottery number, if you wish it.</H1>

        <button id="numbergen" onclick="location.href='/numberGenGamePick';"> Yes, I wish it </button>
        <button id="deny" onclick="location.href='/';"> No, I do not believe in your powers, begone and return to your realm! </button>
        <br>
        <br>
        <img src="./images/genie2g.jpg">
    </center>
</body>

</html>