<button onclick="location.href='/dashBoard';"> Back </button>

<div>

    <a href="/pick2">
        <img src="./images/p2-game-pg-banner.jpg">
    </a>


    <a href="/pick3">
        <img src="./images/p3-game-pg-banner.jpg">
    </a>

    <a href="/pick4">
        <img src="./images/p4-game-pg-banner.jpg">
    </a>
    <a href="/pick5">
        <img src="./images/p5-game-pg-banner.jpg">
    </a>

    <a href="/luckyMoney">
        <img src="./images/luckyMoney-game-pg-banner_en.jpg">
    </a>

    <a href="/fantasyFive">
        <img src="./images/fan5-game-pgbanner.jpg">
    </a>

    <a href="/cashForLife">
        <img src="./images/c4l-game-pg-banner.jpg">
    </a>

    <a href="/floridaLotto">
        <img src="./images/lotto-game-pg-banner.jpg">
    </a>

    <a href="/megaMillionsGenerator">
        <img src="./images/megaMill-game-pg-banner.jpg">
    </a>

    <a href="/powerBall">
        <img src="./images/pb-game-pg-banner.jpg">
    </a>







</div>

<img src="./images/geniworkinge2.jpg ">