<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/style.scss' />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick 2</title>
</head>
<button onclick="location.href='/dashBoard';"> Back </button>

<body>



    <div id="gen22">



        <script src='/javascripts/script.js'></script>
        <div>
            <h2>Pick-2 Number Generator</h2>

        </div>
        <button id="pick-2-master" onclick="randomGenMaster22()"> Give me a number! </button>
        <div class="text">
            <h3>Rules </h3>
            <p>1. Select one number (from 0 through 9) from each column for a total of two digits
            </p>
            <p>2. Select the play type: Straight, Box, Straight/Box, 1-OFF, Front Number, or Back Number. </p>
            <p> 3. Select the amount you want to play: 50 cents or $1 (all Straight/Box and 1-OFF plays cost $1)</p>
            <p>
                <b>During the PICK 2 drawing, 2 numbers will be drawn at random. If your 2-digit number is a Straight match
                    to the numbers, you win $25. Or, if any of your 1-OFF numbers match the PICK 2 numbers drawn, you win
                    $3.
                </b>
            </p>

        </div>
        <div id="oddsPick2">
            <h2>Odds</h2>
            <h3>
                <b>Pick 2</b>
            </h3>
            <p> You have a 1/100 chance of winning 25$ with a strait matching both numbers, and a 1/25 odds of hitting a one-off
                number on either and/or both numbers for a $3.00 payout.
            </p>

        </div>

        <div id="geniepick2advice">
            <h2>Genie Advice</h2>
            <h3>
                <b>Play 1-Off</b>
            </h3>
            <p> You can miss by one and still win a cash prize. That's 8 more chances to win.
            </p>

        </div>
        <img id="pick2genie" src='/images/geniworkinge2.jpg'>

        <div id='big22area'>

            <button id="" class='playthisnumber' onclick="saveNumber22()"> I will play this Number, save it </button>
            <button class='Dontplaythisnumber' onclick="randomGenMaster22(2)"> I don't like this number, give me another </button>
            <h2>You have chosen to play the numbers:
                <h4 id="numbersPlayedAreaPick2"> click save number to save the number you want </h4>
            </h2>
            {{!-- card area containing numbers --}}
            <div id='square12'>

                <div id='firstnumber2'>
                    0
                </div>
            </div>

            <div id='square22'>

                <div id='number22'>0</div>

            </div>
        </div>

        <div id="Saved-Numbers-Area">
            <center> Saved Numbers </center>
            <div id="Played-Numbers-Box">
                <h2> Saved Numbers </h2>
            </div>
        </div>


    </div>


    <script>
        numbersPlayed = [];
        newlistpick2 = [];

        const randomGenMaster22 = function () {
            let print1 = document.getElementById('firstnumber2');
            let print2 = document.getElementById('number22');


            let num1 = Math.floor(Math.random() * 10);
            let num2 = Math.floor(Math.random() * 10);


            print1.innerHTML = num1;
            print2.innerHTML = num2;
            y2 = num1
            x2 = num2
            console.log(num1, num2);



            document.getElementById('firstnumber2').innerHTML = num1;
            document.getElementById('number22').innerHTML = num2;
        };

        const saveNumber22 = function () {
            numbersPlayed.push(y2, x2);
            console.log(numbersPlayed);
            document.getElementById("Played-Numbers-Box").innerHTML = "  -  " + numbersPlayed + " - "
            if (numbersPlayed.length > 2) {
                return "-", numbersPlayed.push(newlistpick2);

            }
        }




    </script>