<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/style.scss' />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pick4</title>
</head>
<button onclick="location.href='/dashBoard';"> Back </button>

<body>
    <div class="ui segment" id="Pick-4-Total-Container">
        <div class="ui segment" id="Pick-4-Rules">
            <br>
            <br>
            <h3>Pick 4 Rules </h3>
            <p>1.Select one number (from 0 through 9) from each column for a total of four digits. For a Front Pair
                play, select
                numbers from the first two columns only; for a Mid Pair play, select numbers from the middle two
                columns
                only; and, for a Back Pair play, select numbers from the last two columns only.

            </p>
            <p>2. Select the play type: Straight, Box, Straight/Box, 1-OFF, Combo, Front Pair, or Back Pair. </p>
            <p> 3. Select the amount you want to play: 50 cents or $1 (all Straight/Box and 1-OFF plays cost $1; Combo
                plays
                cost $2 to $24).</p>
            <p> 4. Select the draw time. Select MID for the midday drawing (1:30 p.m. ET), EVE for the evening drawing
                (7:57
                p.m. ET) draw, or BOTH for both the midday and evening drawings. If no draw time is marked, the
                terminal
                will automatically print a ticket for the next available draw. If BOTH is selected, two separate
                tickets
                will print – one for the midday drawing and one for the evening drawing.
                <b>Players who match all four of the winning numbers drawn in the official PICK 4™ drawing for the date
                    played
                    can win up to $5,000, depending on the play type purchased and the amount played. Front Pair, Mid
                    Pair
                    and Back Pair players who match two numbers in exact order can win up to $50.
                </b>
            </p>

            <h3>How to win</h3>


            <p>4-WAY: Select a 4-digit number with three like digits and get 4 ways to win (Example: Play numbers
                '1112' winning
                combination '1112', '1121', '1211', '2111'
            </p>
            <p>6-WAY: Select a 4-digit number with two pairs and get 6 ways to win. (Example: play numbers '1122';
                winning combinations,
                '1122', '1212', '1221', '2112', '2121', '2211'</p>

            <p> Strait: Match in exact order (Example: Play numbers '1234'; winning combination '1234'</p>
        </div>
        {{!-- <img id='pick4gen' src="/images/geniworkinge2.jpg"> Pick 4!</img> --}}

        <div id="Pick-4-Number-Gen">



            <script src='/javascripts/script.js'></script>
            <div> Number Generator</div>
            <button id="pick-4-master" onclick="randomGenMaster44()"> Give me a number! </button>
            <button onclick="saveNumber44()"> save this number</button>




            <div class="ui segment" id="Pick-4-Inner-Number-Gen">
                <h2> Your number is: </h2>


                <h1 class="FL-Pick-4-Number-Card" id="FL-Pick-4[1]"> 0 </h1>


                <h1 class="FL-Pick-4-Number-Card" id="FL-Pick-4[2]"> 0 </h1>


                <h1 class="FL-Pick-4-Number-Card" id="FL-Pick-4[3]"> 0 </h1>



                <h1 class="FL-Pick-4-Number-Card" id="FL-Pick-4[4]"> 0 </h1>

            </div>



        </div>

        {{!-- container for odds and advice to reap benefits of flexbox side by side --}}

        <div class="ui segment" id="Pick-4-Advice-Odds-Container">

            <div class="ui segment" id="Pick-4-Odds">
                <h2>Odds and prizes</h2>
                <h3>
                    <b>Pick 4</b>
                </h3>
                <p> - You have a 1:10,000 odds of winning 5000$ with a strait matching exact numbers numbers in order
                    on a
                    $1.00
                    play or, $2500 jackpot with a strait on $0.50 play. </p>

                <p> - 1:10,000 and 1:2,500 odds of winning $3099 hitting a 4-way on a $1.00 play, or $599 for a $0.50
                    play
                    Matching
                    4-way in ANY order. plus more ways to win
                </p>

            </div>

            <div class="ui segment" id="Pick-4-Genie-Advice">
                <h2>Genie Advice</h2>
                <br>
                <h3>
                </h3>
                <br>
                <p> Play 1-OFF®! Ever feel like you're close, but you've somehow missed the mark? Well, the Florida
                    Lottery
                    has a
                    brand new way to play PICK 4™ where it pays to be close. With 1-OFF® you can miss by one and still
                    win
                    a
                    cash prize. That's 80 more chances to win!
                </p>


            </div>

        </div>





        <script>
            let numbersPlayed4 = [];





            const randomGenMaster44 = function () {
                let print1 = document.getElementById('innerPick4-1');
                let print2 = document.getElementById('innerPick4-2');
                let print3 = document.getElementById('innerPick4-3');
                let print4 = document.getElementById('innerPick4-4');


                let num1 = Math.floor(Math.random() * 10);
                let num2 = Math.floor(Math.random() * 10);
                let num3 = Math.floor(Math.random() * 10);
                let num4 = Math.floor(Math.random() * 10);

                print1.innerHTML = num1;
                print2.innerHTML = num2;
                print3.innerHTML = num3;
                print4.innerHTML = num4;

                p41 = num1;
                p42 = num2;
                p43 = num3;
                p44 = num4;








                document.getElementById('first').innerHTML = num1;
                document.getElementById('sec').innerHTML = num2;
                document.getElementById('third').innerHTML = num3;
                document.getElementById('fourth').innerHTML = num4;

                console.log(p41, p42, p43, p44);

            };

            const saveNumber44 = function () {
                numbersPlayed4.push(num1, num2, num3, num4);
                document.getElementById('theone').innerHTML = numbersPlayed3
            }


        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>


</body>

</html>