<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luck Numbers</title>
</head>

<body>

    <h1> Your Lucky Numbers</h1>
    <h2> You can make changes to this list at any time</h2>

    <h3>You seem to favor </h3>{{#each luck}}
    <h3>{{this.Numbers}} {{/each}}</h3>


</body>

</html>