<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Info</title>
</head>
<button class='btn' type="button" onclick="location.href='/dashBoard';"> Back </button>
<br>
<br>
<hr>

<body>

    <h1> Hello {{this.username}} </h1>
    <p> Here you can find information about your account</p>
    <h2> Wishes remaining: {{this.wishes}} </h2>
    <button> Buy More Wishes</button>
    <button> Send Someone a wish</button>

    <h2> Lucky Numbers</h2>
    <div id='favoriteNumbers'> Your lucky number are: </di>

        <input id="data" size="30">
        <button id="btn">Click me to add Lucky Numbers</button>
        <br>
        <br>
        <div id="display">
            <table style="width:100%">
                <th>
                    <center> Lucky Numbers</center>
                    {{!-- {{#each}}
                    <p>{{this.luckyNumber}}</p>
                    {{/each}} --}}
                </th>
                <tr id='firstrow'></tr>
                <tr id='next'> </tr>
            </table>
        </div>
        <br>

        <script> 
            const numbersPlayed = [];
            let luckyNumber = [];
            "use strict";

            function clicked() {

                var input_value = document.getElementById('data').value;
                document.getElementById('firstrow').innerHTML = input_value;

                luckyNumber.push(input_value)
                console.log(luckyNumber);



            }

            document.getElementById('btn').addEventListener('click', clicked);;


            function allLuckyNumbers() {
                console.log(luckyNumber)
                document.getElementById('firstrow').innerHTML = luckyNumber;
                const luckForm = document.getElementById('Luck');
                luckForm.submit();
            }





        </script>

        <button onclick="location.href='/LuckyNumbersPage';"> Show me the Lucky Numbers</button>
        {{!--
        <button onclick='allLuckyNumbers()'>Show me all my lucky numbers</button> --}}

        <form id='Luck' action='/userInfoLuck' method="post">
            <input type='hidden' name='hiddennumber'> </form>





</body>

</html>