<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>winningNumbers</title>
</head>

<body>
    <h1> I shall show you the numbers that have won</h1>
    <h2> Select the game</h2>

    <button>Show me the pick 3 Winners</button>
    <button>Show me the pick 4 Winners</button>
    <button>Show me the Mega Millions Winners</button>
    <button onclick="location.href='/PBWinners'">Show me the Powerball Winners</button>
</body>

</html>