<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Numbers Played History</title>
</head>
<center>

    <body>
        <button class="btn" onclick="location.href='/dashBoard';"> Back</button>

        <h1>The Numbers you have played are here </h1>
        <h3> Different combinations can win different prizes. Enter your numbers here, and turn on notification alerts
            to recieve
            updates on how your numbers played. </h3>
        <button>Yes, Turn on notifications</button>
        <div id="played-numbers-box"> Numbers History

            </style>
            </head>

            <body>
                <h1> Pick 2</h1>

                <table id="t01">
                    <tr>
                        <th class="numbersPlayedHeader">Date</th>
                        <th class="numbersPlayedHeader">Numbers Played</th>
                        <th class="numbersPlayedHeader">Winning Numbers</th>
                        <th class="numbersPlayedHeader"> Prize </th>
                    </tr>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </table>


                <h1> Pick 3</h1>

                <table id="t01">
                    <tr>
                        <th class="numbersPlayedHeader">Date</th>
                        <th class="numbersPlayedHeader">Numbers Played</th>
                        <th class="numbersPlayedHeader">Winning Numbers</th>
                        <th class="numbersPlayedHeader"> Prize </th>
                    </tr>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </table>

                <h1> Pick 4</h1>

                <table id="t01">
                    <tr>
                        <th class="numbersPlayedHeader">Date</th>
                        <th class="numbersPlayedHeader">Numbers Played</th>
                        <th class="numbersPlayedHeader">Winning Numbers</th>
                        <th class="numbersPlayedHeader"> Prize </th>
                    </tr>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </table>

                <h1> Pick 5</h1>

                <table id="t01">
                    <tr>
                        <th class="numbersPlayedHeader">Date</th>
                        <th class="numbersPlayedHeader">Numbers Played</th>
                        <th class="numbersPlayedHeader">Winning Numbers</th>
                        <th class="numbersPlayedHeader"> Prize </th>
                    </tr>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </table>



            </body>

</html>
</div>
</body>
</center>

</html>