<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Numbers Played History</title>
</head>
<center>

    <body>
        <h1>The Numbers you have played are: </h1>
        <div id="played-numbers-box"> Numbers History

            </style>
            </head>

            <body>

                <h2>Pick 3</h2>

                <table id="t01">
                    <tr id="game-book-header">
                        <th>Date</th>
                        <th>Numbers Played</th>
                        <th>Winning Number</th>
                        <th> % </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                </table>
                <br>
                <h2></h2>
                <table id="t01">
                    <tr>
                        <th>Date</th>
                        <th>Numbers Played</th>
                        <th>Winning Numbers</th>
                        <th> % </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> </td>

                            </tr>

                </table>

            </body>

</html>
</div>
</body>
</center>

</html>