<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Numbers Played History</title>
</head>
<center>

    <body>
        <h1>The Numbers you have played are: </h1>
        <div id="played-numbers-box"> Numbers History

            </style>
            </head>

            <body>

                <h2>Pick 3</h2>

                <table id="t01">
                    <tr id="game-book-header">
                        <th>Date</th>
                        <th>Numbers Played</th>
                        <th>Winning Number</th>
                        <th> % </th>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>4-6-1</td>
                        <td>8-1-0</td>
                        <td> 0%</td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>5-1-5</td>
                        <td>8-1-0</td>
                        <td> 0% </td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>4-4-1</td>
                        <td>8-1-0</td>
                        <td> 0 % </td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>4-6-1</td>
                        <td>8-1-0</td>
                        <td> 0%</td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>5-1-5</td>
                        <td>8-1-0</td>
                        <td> 0% </td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>4-4-1</td>
                        <td>8-1-0</td>
                        <td> 0 % </td>
                    </tr>
                </table>
                <br>
                <h2>Mega Millions </h2>
                <table id="t01">
                    <tr>
                        <th>Date</th>
                        <th>Numbers Played</th>
                        <th>Winning Numbers</th>
                        <th> % </th>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>24-25-07-31-20-19</td>
                        <td>1-2-3-4-5-6</td>
                        <td> 0% </td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>12-41-12-54-21-12</td>
                        <td>1-2-3-4-5-6</td>
                        <td> 0% </td>
                    </tr>
                    <tr>
                        <td>July 10th, 2018</td>
                        <td>12-13-41-21-52-14</td>
                        <td>1-2-3-4-5-6</td>
                        <td> 0%</td>
                        <tr>
                            <td>July 10th, 2018</td>
                            <td>24-25-07-31-20-19</td>
                            <td>1-2-3-4-5-6</td>
                            <td> 0% </td>
                        </tr>
                        <tr>
                            <td>July 10th, 2018</td>
                            <td>12-41-12-54-21-12</td>
                            <td>1-2-3-4-5-6</td>
                            <td> 0% </td>
                        </tr>
                        <tr>
                            <td>July 10th, 2018</td>
                            <td>12-13-41-21-52-14</td>
                            <td>1-2-3-4-5-6</td>
                            <td> 0%</td>
                            <tr>
                                <td>July 10th, 2018</td>
                                <td>24-25-07-31-20-19</td>
                                <td>1-2-3-4-5-6</td>
                                <td> 0% </td>
                            </tr>
                            <tr>
                                <td>July 10th, 2018</td>
                                <td>12-41-12-54-21-12</td>
                                <td>1-2-3-4-5-6</td>
                                <td> 0% </td>
                            </tr>
                            <tr>
                                <td>July 10th, 2018</td>
                                <td>12-13-41-21-52-14</td>
                                <td>1-2-3-4-5-6</td>
                                <td> 0%</td>

                            </tr>

                </table>

            </body>

</html>
</div>
</body>
</center>

</html>