body {
  padding: 50px;
  background-color: #FBFAF8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.btn {
  size: 25px;
  height: 35px;
  width: auto;
  font-size: 20px; }

a {
  color: black; }

#lamp {
  height: 250px;
  width: auto; }

#played-numbers-box {
  border: 3px;
  border-color: black;
  border-style: solid;
  background-color: pink; }

#genie-render {
  width: 40%;
  height: auto; }

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse; }

th,
td {
  padding: 15px;
  text-align: left; }

table#t01 tr:nth-child(even) {
  background-color: #eee; }

table#t01 tr:nth-child(odd) {
  background-color: #fff; }

table#t01 th {
  background-color: black;
  color: white; }

.boxes {
  border: 2px;
  border-style: solid;
  height: 600px;
  width: 600px;
  background-color: pink;
  padding: 0 100px 0 0; }

#thefirst {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  position: relative;
  height: 160px;
  width: 80px;
  background-color: white; }

#thesecond {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-direction: row;
  left: 100px;
  height: 160px;
  width: 80px;
  background-color: white; }

#thethird {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-direction: row;
  left: 100px;
  height: 160px;
  width: 80px;
  background-color: white; }

#thefourth {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  left: 100px;
  height: 160px;
  width: 80px;
  background-color: white; }

.row {
  position: relative;
  left: 50px;
  top: 25px; }

#first {
  font-size: 60px; }

#sec {
  font-size: 60px; }

#third {
  font-size: 60px; }

#fourth {
  font-size: 60px; }

#four {
  background-color: green; }

.numBox4 {
  background-color: pink;
  border: 2px;
  height: 30%;
  width: 100%; }

.innerbox11 {
  position: relative;
  background-color: white;
  top: 20px;
  left: 30px;
  height: 130px;
  width: 90px;
  border: 2px; }

.innerbox22 {
  position: relative;
  background-color: white;
  left: 150px;
  height: 130px;
  width: 90px;
  bottom: 170px; }

.innerbox33 {
  position: relative;
  background-color: white;
  left: 265px;
  height: 130px;
  width: 90px;
  bottom: 360px; }

.innerbox44 {
  position: relative;
  background-color: white;
  left: 385px;
  height: 130px;
  width: 90px;
  bottom: 300px;
  padding: 5px; }

#gen44 {
  height: 35%;
  width: 40%;
  position: relative;
  top: -150px;
  background-color: lightgrey;
  border: 2px;
  border-style: solid;
  padding: 10px; }

#pick4border {
  border: 2px;
  border-style: solid;
  background-color: #fae3ff;
  padding: 5px; }

#pick4gen {
  position: relative;
  left: 350px;
  bottom: 800px;
  border: 1px;
  border-style: solid; }

#big22area {
  position: relative;
  bottom: 500px;
  width: 500px;
  height: 500px;
  background-color: lightblue;
  border: 2px;
  border-style: solid;
  padding: 15px; }

#square12 {
  position: relative;
  top: 100px;
  left: 70px;
  width: 150px;
  height: 250px;
  background-color: orange;
  border: 2px;
  border-style: solid; }

#square22 {
  position: relative;
  left: 250px;
  bottom: 150px;
  width: 150px;
  height: 250px;
  background-color: yellow;
  border: 2px;
  border-style: solid; }

#firstnumber2 {
  font-size: 60px; }

#number22 {
  font-size: 60px; }

#pick-5-total-container {
  background-color: #deccff;
  width: 100%;
  height: 100%;
  margin: 1%;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black; }

#cardBox {
  background-color: green; }

#pick5genie {
  padding: 1%;
  height: 80%;
  width: auto; }

#FL-Lotto-Number-Gen-Container {
  background-color: black; }

#pick5-GameBox {
  background-color: #ffc2cc;
  width: 80%;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black; }

#pick-5-how-to-play {
  background-color: #9fffdf;
  width: 80%;
  height: 100%;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black; }

h1 {
  font-size: 40px; }

.pick5Cards {
  display: flex;
  background-color: white;
  height: 75%;
  width: 100%;
  border: 2px;
  margin: 1%;
  border-style: solid; }

#Pick-5-Odds {
  background-color: #9fc9ff;
  width: 30%;
  height: 100%;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black; }

#Pick-5-Advice {
  background-color: #99a3ff;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black; }

#display {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid; }

.megaMil {
  position: relative;
  top: 80px;
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  order: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  width: 75px;
  height: 120px; }

.innerMegaMil {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 85%;
  height: 85%;
  font-size: 30px; }

#megaBall {
  background-color: red; }

#pick2genie {
  display: flex;
  position: relative;
  left: 700px;
  top: 50px;
  bottom: 0px; }

#gen22 {
  position: relative;
  border: 2px;
  border-style: solid;
  padding: 10px; }

#geniepick2advice {
  position: relative;
  left: 600px;
  top: 20px;
  background-color: lightgreen;
  width: 650px;
  border-width: 2px;
  border-style: solid;
  padding: 12px; }

#oddsPick2 {
  background-color: lightgrey;
  border-width: 2px;
  border-style: solid;
  width: 650px;
  position: relative;
  left: 600px;
  padding: 12px; }

.pick3 {
  position: relative;
  top: 80px;
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  order: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  width: 120px;
  height: 160px; }

.innerPick3 {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #cbdfcb;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 85%;
  height: 85%;
  font-size: 30px;
  margin: auto;
  position: relative;
  font-size: 70px;
  font-style: bold; }

.pick3box {
  background-color: lightcyan;
  height: 300px;
  width: 55%;
  border: 2px;
  border-style: solid;
  position: relative;
  top: 40px;
  right: 0px;
  display: flex;
  padding: 10px; }

#pick2genie3 {
  position: relative;
  left: 745px;
  bottom: 300px;
  width: 30%;
  height: auto; }

.text3 {
  position: relative;
  bottom: 170px; }

.pick4 {
  position: relative;
  top: 10px;
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  order: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: #5f5fff;
  width: 120px;
  height: 160px;
  margin: auto; }

.innerPick4 {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #cbdfcb;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 85%;
  height: 85%;
  font-size: 30px;
  margin: 10px;
  position: relative;
  font-size: 70px;
  font-style: bold; }

.pick4box {
  border: 2px;
  border-style: solid;
  background-color: lightgreen;
  height: 250px;
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0 px; }

#googlebtn {
  height: 53px;
  width: auto; }

#login {
  position: relative;
  top: 220px;
  left: 550px; }

#geniepick4advice {
  position: relative;
  display: flex;
  bottom: 750px;
  left: 600px;
  background-color: lightgoldenrodyellow;
  border: 2px;
  border-style: solid;
  width: 50%;
  height: auto;
  padding: 10px; }

#pick4gen {
  position: relative;
  left: 570px;
  top: 175px; }

#oddsPick4 {
  position: relative;
  left: 800px;
  bottom: 120px;
  background-color: #eeffcd;
  border: 2px;
  border-style: solid;
  padding: 15px;
  width: 30%; }

#oddsPick3 {
  position: relative;
  background-color: #ddffec;
  border: 2px;
  border-style: solid;
  width: 55%;
  left: px;
  bottom: 00px;
  padding: 10px;
  right: 5px; }

#geniepick3advice {
  position: relative;
  left: 750px;
  bottom: 231px;
  background-color: #5cf170;
  border: 2px;
  border-style: solid;
  width: 30%;
  padding: 15px; }

.gen22 {
  border: 2px;
  border-style: solid;
  padding: 10px;
  background-color: #d1c1ff;
  padding: 10px; }

#Saved-Numbers-Area {
  border: 2px;
  border-style: solid;
  width: 95%;
  height: 450px;
  position: relative;
  bottom: 450px;
  background-color: lightgoldenrodyellow;
  padding: 10px; }

#Played-Numbers-Box {
  border: 2px;
  border-style: solid;
  width: 95%;
  height: 450x;
  position: relative;
  bottom: parent;
  background-color: lightgreen;
  padding: 10px; }

#pick3SavedNumberBox {
  position: relative;
  display: flex;
  width: 66%;
  height: 250px;
  background-color: lightcyan;
  border: 2px;
  border-style: solid; }

#howToPlay {
  background-color: #faffaf;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px; }

#FL-Lotto-Total-Container {
  border: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
  height: 1300px;
  background-color: #dfd3ff;
  border: 1px;
  border-style: solid;
  border-color: black; }

#FL-Master-Container {
  margin-top: 2%;
  background-color: #ffefef;
  width: 100%;
  height: 40%;
  border: 1px;
  border-style: solid;
  border-color: black; }

#FL-Lotto-Number-Gen-Container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #a4deff;
  justify-content: space-evenly;
  padding: 5px;
  width: 50%;
  height: 200px;
  border: 1px;
  border-style: solid;
  border-color: black; }

.FL-Lotto-Number-Card {
  padding: 5px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 10%;
  height: 20%; }

#FL-Lotto-Saved-Numbers {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black; }

#FL-Lotto-Extra {
  background-color: #a1f3c3;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin-top: 1%;
  width: 30%; }

#FL-Lotto-Odds {
  padding: 1%;
  background-color: #d4ffad;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 30%;
  margin-top: 1%; }

/*# sourceMappingURL=style.css.map */