// Opening screen and login

body {
  padding: 50px;
  background-color: #fbfaf8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; // background: linear-gradient(to bottom, white, black);
}

.btn {
  background-color: #ae58ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px;
  border-style: solid;
}

.btn2 {
  background-color: #fa746a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px;
  border-style: solid;
}

.btn2:hover {
  color: black;
}

.btn:hover {
  color: black;
}

a {
  color: black;
}

#lamp {
  height: 250px;
  width: auto;
}

#played-numbers-box {
  border: 3px;
  border-color: black;
  border-style: solid;
  background-color: pink;
}

#genie-dashboard-render {
  width: 30%;
  height: auto;
  border: 2px;
  border-style: solid;
}

// Numbers played history area

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  background-color: black;
  color: white;
}

// NUMBER GENERATOR

// Pick 2 Number Generator container holding number cards

#Pick-2-Number-Gen-Total-Container {
  background-color: rgb(183, 220, 255);
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}
#Pick-2-Game-Area {
  width: 70%;
  height: 50%;
  background-color: rgb(255, 209, 230);
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}
.Pick-2-Card {
  padding: 1%;
  margin: 1%;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 10%;
  height: 40%;
  font-size: 40px;
}

#Pick-2-Card-Container {
  display: flex;
  justify-content: center;
}

#Pick2Rules {
  background-color: rgb(183, 255, 239);
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}

#Pick2-Advice {
  background-color: rgb(175, 255, 175);
  width: 30%;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

#Pick2-Odds {
  background-color: rgb(255, 248, 146);
  border-width: 2px;
  border-style: solid;
  width: 30%;
  padding: 1%;
  margin: 1%;
}

#Pick2-Odds-Advice-Container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}

#Pick-2Played-Numbers-Box {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(193, 255, 201);
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}

// Pick 3 Number Generator

#pick-3-total-container {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: rgb(202, 210, 255);
  padding: 1%;
  margin: 1%;
}

#pick-3-gen-box {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 252, 228);
  padding: 1%;
  margin: 1%;
}

#Pick-3-Card-Container {
  display: flex;
  flex-direction: row;
  background-color: rgb(191, 134, 255);
  padding: 1%;
  margin: 1%;
  border: 2px;
  border-color: black;
  border-style: solid;
}

.FL-Pick-3-Number-Card {
  font-size: 70px;
  width: 5%;
  height: auto;
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
  background-color: white;
  border: 2px;
  border-color: black;
  border-style: solid;
}

#pick-3-rules-container {
  border: 2px;
  border-color: black;
  border-style: solid;
  padding: 1%;
  margin: 1%;
  background-color: rgb(202, 235, 255);
}

#Pick-3-Odds {
  background-color: rgb(221, 255, 236);
  border: 2px;
  border-style: solid;
  width: 55%;
  padding: 1%;
  margin: 1%;
}

#Pick-3-Genie-Advice {
  background-color: rgb(173, 255, 193);
  border: 2px;
  border-style: solid;
  width: 30%;
  padding: 1%;
  margin: 1%;
}

#Pick-3-Saved-Numbers-Container {
  background-color: rgb(255, 213, 174);
  border: 2px;
  border-style: solid;
  width: 96%;
  padding: 1%;
  margin: 1%;
}

#Pick-3-Saved-Numbers {
  background-color: rgb(84, 247, 247);
  border: 2px;
  border-style: solid;
  width: 90%;
  height: 50%;
  padding: 1%;
  margin: 1%;
}

#Pick-3-Genie {
  border: 2px;
  border-style: solid;
}

#Pick-3-Advice-Odds-Container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 204, 244);
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

// Pick 4 Number Gen

#Pick-4-Total-Container {
  border: 2px;
  border-style: solid;
  background-color: rgb(250, 227, 255);
  padding: 1%;
}

#Pick-4-Rules {
  border: 2px;
  border-style: solid;
  background-color: rgb(167, 227, 255);
  padding: 1%;
  margin: 1%;
}

#Pick-4-Number-Gen {
  border: 2px;
  border-style: solid;
  background-color: rgb(189, 177, 255);
  padding: 1%;
  margin: 1%;
}

#Pick-4-Inner-Number-Gen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px;
  border-style: solid;
  background-color: rgb(177, 255, 201);
  padding: 1%;
  margin: 1%;
}

.FL-Pick-4-Number-Card {
  border: 2px;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1%;
}

#Pick-4-Save-Numbers {
  border: 2px;
  border-style: solid;
  background-color: rgb(194, 255, 255);
  padding: 1%;
  margin: 1%;
}

#Pick-4-Genie-Advice {
  background-color: rgb(221, 255, 143);
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

#Pick-4-Odds {
  background-color: rgb(143, 210, 255);
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

#Pick-4-Advice-Odds-Container {
  display: flex;
  flex-direction: row;
  background-color: rgb(116, 255, 151);
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
}

#Pick-4-Genie {
  border: 2px;
  border-style: solid;
}

// pick 5 random generator page
#pick-5-total-container {
  background-color: rgb(222, 204, 255);
  width: 100%;
  height: 100%;
  margin: 1%;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black;
}

#pick5genie {
  height: 80%;
  width: auto;
  border: 2px;
  border-style: solid;
  border-color: black;
}

#FL-Lotto-Number-Gen-Container {
  background-color: black;
}

#pick5-GameBox {
  background-color: rgb(253, 176, 189);
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black;
}

#pick-5-how-to-play {
  background-color: rgb(159, 255, 223);
  width: 80%;
  height: 100%;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black;
}

h1 {
  font-size: 40px;
}

.pick5Cards {
  display: flex;
  background-color: rgb(255, 255, 255);

  height: 75%;
  width: 100%;
  border: 2px;
  margin: 1%;
  border-style: solid;
}
#Pick-5-advice-odds-container {
  display: flex;
  flex-direction: row;
  border: 2px;
  border-style: solid;
  border-color: black;
  margin: 1%;
  padding: 1%;
  background-color: rgb(91, 247, 247);
}

#Pick-5-Odds {
  background-color: rgb(159, 201, 255);
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black;
  width: 40%;
  height: 40%;
}

#Pick-5-Advice {
  background-color: rgb(153, 163, 255);
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 40%;
  height: 50%;
}

#display {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid;
}

#pick-5-genie {
  border-width: 2px;
  border-style: solid;
}

#pick-5-Saved-Numbers {
  margin: 1%;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: rgb(188, 248, 206);
}

// mega millions area
.megaMil {
  position: relative;
  top: 80px;
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  order: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  width: 75px;
  height: 120px;
}

.innerMegaMil {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 85%;
  height: 85%;
  font-size: 30px;
}

#megaBall {
  background-color: red;
}

//FLORIDA LOTTO AREA

#howToPlay {
  background-color: rgb(250, 255, 175);
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
}

#FL-Lotto-Total-Container {
  border: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
  height: 1300px;

  background-color: rgb(223, 211, 255);
  border: 1px;
  border-style: solid;
  border-color: black;
}

#FL-Master-Container {
  margin-top: 2%;

  background-color: rgb(255, 239, 239);
  width: 100%;
  height: 40%;
  border: 1px;
  border-style: solid;
  border-color: black;
}

#FL-Lotto-Number-Gen-Container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(164, 222, 255);
  justify-content: space-evenly;
  padding: 5px;
  width: 50%;
  height: 200px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.FL-Lotto-Number-Card {
  padding: 5px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 10%;
  height: 20%;
}

#FL-Lotto-Saved-Numbers {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
}

#FL-Lotto-Extra {
  background-color: rgb(161, 243, 195);
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin-top: 1%;

  width: 30%;
}

#FL-Lotto-Odds {
  padding: 1%;
  background-color: rgb(212, 255, 173);
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 30%;
  margin-top: 1%;
}
