body {
  padding: 50px;
  background-color: #fbfaf8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.btn {
  background-color: #ae58ff;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: 1px;
  border-style: solid; }

.btn2 {
  background-color: #fa746a;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: 1px;
  border-style: solid; }

.btn2:hover {
  color: black; }

.btn:hover {
  color: black; }

a {
  color: black; }

#lamp {
  height: 250px;
  width: auto; }

#played-numbers-box {
  border: 3px;
  border-color: black;
  border-style: solid;
  background-color: pink; }

#genie-dashboard-render {
  width: 30%;
  height: auto;
  border: 2px;
  border-style: solid; }

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse; }

th,
td {
  padding: 15px;
  text-align: left; }

table#t01 tr:nth-child(even) {
  background-color: #eee; }

table#t01 tr:nth-child(odd) {
  background-color: #fff; }

table#t01 th {
  background-color: black;
  color: white; }

#Pick-2-Number-Gen-Total-Container {
  background-color: #b7dcff;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%; }

#Pick-2-Game-Area {
  width: 70%;
  height: 50%;
  background-color: #ffd1e6;
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

.Pick-2-Card {
  padding: 1%;
  margin: 1%;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 15%;
  height: 40%;
  font-size: 40px; }

#numbersPlayedAreaPick2 {
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
  background-color: #889aff; }

#Pick-2-Card-Container {
  display: flex;
  justify-content: center; }

#Pick2Rules {
  background-color: #b7ffef;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%; }

#Pick2-Advice {
  background-color: #afffaf;
  width: 30%;
  border-width: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

#Pick2-Odds {
  background-color: #fff892;
  border-width: 2px;
  border-style: solid;
  width: 30%;
  padding: 1%;
  margin: 1%; }

#Pick2-Odds-Advice-Container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #8ccbff;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%; }

#Pick-2Played-Numbers-Box {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #c1ffc9;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin: 1%; }

#pick2SavedNumbers {
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%;
  background-color: #dbbcff; }

#pick-3-total-container {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: #cad2ff;
  padding: 1%;
  margin: 1%; }

#pick-3-gen-box {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: #fffce4;
  padding: 1%;
  margin: 1%; }

#Pick-3-Card-Container {
  display: flex;
  flex-direction: row;
  background-color: #bf86ff;
  padding: 1%;
  margin: 1%;
  border: 2px;
  border-color: black;
  border-style: solid; }

.FL-Pick-3-Number-Card {
  font-size: 70px;
  width: 5%;
  height: auto;
  display: flex;
  padding: 1%;
  margin: 1%;
  flex-direction: row;
  background-color: white;
  border: 2px;
  border-color: black;
  border-style: solid; }

#pick-3-rules-container {
  border: 2px;
  border-color: black;
  border-style: solid;
  padding: 1%;
  margin: 1%;
  background-color: #caebff; }

#Pick-3-Odds {
  background-color: #ddffec;
  border: 2px;
  border-style: solid;
  width: 55%;
  padding: 1%;
  margin: 1%; }

#Pick-3-Genie-Advice {
  background-color: #adffc1;
  border: 2px;
  border-style: solid;
  width: 40%;
  padding: 1%;
  margin: 1%; }

#Pick-3-Saved-Numbers-Container {
  background-color: #ffd5ae;
  border: 2px;
  border-style: solid;
  width: 96%;
  padding: 1%;
  margin: 1%; }

#Pick-3-Saved-Numbers {
  background-color: #54f7f7;
  border: 2px;
  border-style: solid;
  width: 90%;
  height: 50%;
  padding: 1%;
  margin: 1%; }

#Pick-3-Genie {
  border: 2px;
  border-style: solid; }

#Pick-3-Advice-Odds-Container {
  display: flex;
  flex-direction: row;
  background-color: #ffccf4;
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

#Pick-4-Total-Container {
  border: 2px;
  border-style: solid;
  background-color: #fae3ff;
  padding: 1%; }

#Pick-4-Rules {
  border: 2px;
  border-style: solid;
  background-color: #a7e3ff;
  padding: 1%;
  margin: 1%; }

#Pick-4-Number-Gen {
  border: 2px;
  border-style: solid;
  background-color: #bdb1ff;
  padding: 1%;
  margin: 1%; }

#Pick-4-Inner-Number-Gen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px;
  border-style: solid;
  background-color: #b1ffc9;
  padding: 1%;
  margin: 1%; }

.FL-Pick-4-Number-Card {
  border: 2px;
  border-style: solid;
  background-color: white;
  padding: 1%;
  margin: 1%; }

#Pick-4-Save-Numbers {
  border: 2px;
  border-style: solid;
  background-color: #c2ffff;
  padding: 1%;
  margin: 1%; }

#Pick-4-Genie-Advice {
  background-color: #d8ff7c;
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

#Pick-4-Odds {
  background-color: #73aacf;
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

#Pick-4-Advice-Odds-Container {
  display: flex;
  flex-direction: row;
  background-color: #74ff97;
  border: 2px;
  border-style: solid;
  padding: 1%;
  margin: 1%; }

#Pick-4-Genie {
  border: 2px;
  border-style: solid; }

#pick-5-total-container {
  background-color: #deccff;
  width: 100%;
  height: 100%;
  margin: 1%;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black; }

#pick5genie {
  height: 80%;
  width: auto;
  border: 2px;
  border-style: solid;
  border-color: black; }

#FL-Lotto-Number-Gen-Container {
  background-color: black; }

#pick5-GameBox {
  background-color: #fdb0bd;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black; }

#pick-5-how-to-play {
  background-color: #9fffdf;
  width: 80%;
  height: 100%;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black; }

h1 {
  font-size: 40px; }

.pick5Cards {
  display: flex;
  background-color: white;
  height: 75%;
  width: 100%;
  border: 2px;
  margin: 1%;
  border-style: solid; }

#Pick-5-advice-odds-container {
  display: flex;
  flex-direction: row;
  border: 2px;
  border-style: solid;
  border-color: black;
  margin: 1%;
  padding: 1%;
  background-color: #5bf7f7; }

#Pick-5-Odds {
  background-color: #9fc9ff;
  padding: 1%;
  border: 2px;
  margin: 1%;
  border-style: solid;
  border-color: black;
  width: 50%;
  height: 50%; }

#Pick-5-Advice {
  background-color: #99a3ff;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 50%;
  height: 50%; }

#display {
  width: 350px;
  height: 350px;
  border-width: 2px;
  border-style: solid; }

#pick-5-genie {
  border-width: 2px;
  border-style: solid; }

#pick-5-Saved-Numbers {
  margin: 1%;
  padding: 1%;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: #bcf8ce; }

.megaMil {
  position: relative;
  top: 80px;
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  order: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  width: 75px;
  height: 120px; }

.innerMegaMil {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 85%;
  height: 85%;
  font-size: 30px; }

#megaBall {
  background-color: red; }

#howToPlay {
  background-color: #faffaf;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px; }

#FL-Lotto-Total-Container {
  border: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
  height: 1300px;
  background-color: #dfd3ff;
  border: 1px;
  border-style: solid;
  border-color: black; }

#FL-Master-Container {
  margin-top: 2%;
  background-color: #ffefef;
  width: 100%;
  height: 40%;
  border: 1px;
  border-style: solid;
  border-color: black; }

#FL-Lotto-Number-Gen-Container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #a4deff;
  justify-content: space-evenly;
  padding: 5px;
  width: 50%;
  height: 200px;
  border: 2px;
  border-style: solid;
  border-color: black; }

.FL-Lotto-Number-Card {
  padding: 5px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 10%;
  height: 25%; }

#FL-Lotto-Saved-Numbers {
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: black; }

#FL-Lotto-Extra {
  background-color: #a1f3c3;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1%;
  margin-top: 1%;
  width: 35%; }

#FL-Lotto-Odds {
  padding: 1%;
  background-color: #d4ffad;
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 30%;
  margin-top: 1%; }

/*# sourceMappingURL=style.css.map */